:root {
  --bg-light-clr: hsl(0, 0%, 34%);
  --bg-clr: hsl(0, 0%, 21%);
  --bg-dark-clr: hsl(0, 0%, 13%);
  --bg-darker-clr: hsl(0, 0%, 8%);
  --bg-darkest-clr: hsl(0, 0%, 5%);
  --warn-clr: hsl(0, 62%, 42%);
  --accent-clr: hsl(69, 62%, 52%);
  --font-clr: hsl(0, 0%, 95%);
  --font-dark-clr: hsl(0, 0%, 70%);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/open-sans-normal-400.woff2') format('woff2')
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/oswald-normal-400.woff2') format('woff2')
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: var(--bg-clr);
  color: var(--font-clr);
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', Verdana, sans-serif;
  margin: 0;
}

a {
  color: var(--accent-clr);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1em;
  margin-block: 1em;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

button,
input,
select {
  background-color: var(--bg-darker-clr);
  color: var(--font-clr);
  border: none;
  padding: 5px 8px
}

select {
  min-width: 157px
}

button:hover {
  cursor: pointer;
  filter: brightness(.9);
}

button.active,
button:active {
  filter: brightness(.8);
}

label {
  line-height: 1.6rem;
  font-size: .85rem;
}

input[type=number] {
  padding-right: 0;
  padding-left: 16px
}

input[type=text],
input[type=password] {
  flex-grow: 1
}

fieldset {
  margin-bottom: 8px
}

#addSession {
  margin: 10px 0 5px;
  width: 100%
}

#removeSession {
  width: 100%
}

.showPassword {
  cursor: pointer;
  margin-inline: 2px;
}

.session .controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px
}

.session .controls .arrows button {
  margin-right: 8px
}

.arrow {
  border: solid var(--font-clr);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px
}

.up {
  transform:
    rotate(-135deg) translate(-1px, -1px)
}

.down {
  transform:
    rotate(45deg) translate(-2px, -2px)
}

.removeSession {
  font-weight: 700
}

.removeSession:hover {
  background-color: var(--warn-clr)
}

.session {
  border: 3px solid var(--bg-light-clr);
  margin-bottom: 4px;
  padding: 4px
}

.Form {
  padding: 1em;
  background-color: var(--bg-dark-clr);
  border-radius: 5px
}

.SubForm {
  display: flex;
  justify-content: space-between
}

.FormTitle {
  margin-bottom: 15px
}

.SubFormColumn {
  flex-grow: 1
}

.SubFormColumn+.SubFormColumn {
  margin-left: 1em
}

.FormRow {
  margin: .25em 0 .25em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FormRow label {
  flex-basis: 11em;
  margin-right: 1em
}

.SubFormRow {
  margin: .25em 0 .25em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SubFormRow label {
  flex-basis: 11em;
  margin-right: 1em
}

.FormRow:hover,
.SubFormRow:hover {
  background-color: var(--bg-clr)
}

#grid {
  display: grid;
  width: 98%;
  grid-template-columns: 2fr 5fr;
  grid-auto-rows: auto auto;
  gap: 1em
}

#results {
  width: 100%;
  height: 97vh;
  overflow-y: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .5em
}

#timetable {
  width: 100%;
  height: 97vh;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .5em;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.driver {
  display: flex;
  gap: .5em;
  width: 80px;
}

.car {
  display: flex;
  gap: .5em;
  width: 400px;
}

.position,
.lap {
  min-width: 3ch;
}

.timeTableLine,
.timeTableLine_header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-dark-clr);
  padding: .5em .25em .5em 1em;
  gap: 1em;
  line-height: 1.5em;
  border-radius: 5px;
}

.timeTableLine:not(.noValidLap) {
  cursor: pointer;
}

.laps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lapTableLine,
.lapTableLine_header {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-dark-clr);
  padding: .25em .25em .25em .5em;
  margin-bottom: .25em;
  gap: 1em;
  width: min(500px, 100%);
  line-height: 1.5em;
  border-radius: 5px;
}

.timeTableLine_header,
.lapTableLine_header {
  background-color: transparent;
}

.noValidLap {
  color: var(--bg-light-clr);
  background-color: var(--bg-darkest-clr);
}

.timing {
  display: flex;
  width: 22em;
  gap: .5em;
}

.splits {
  display: flex;
  gap: .5em;
  width: 18em;
  margin-left: 1%;
}


.timing>div,
.splits>div {
  flex-basis: 100%;
  text-align: center;
  border-radius: 5px;
}

.laptime {
  border-radius: 5px;
  padding-inline: .5em;
}

.timeTableLine:not(.noValidLap) .avgLap,
.laps .avgLap {
  background-color: darkblue;
}

.timeTableLine:not(.noValidLap) .bestLap,
.laps .bestLap {
  background-color: green;
}

.timeTableLine:not(.noValidLap) .bestLapAll,
.laps .bestLapAll {
  background-color: purple;
}

.result {
  display: flex;
  justify-content: space-between;
  padding: .5em 1em;
  border-radius: 5px;
  gap: 1em;
  max-width: 100%;
  background-color: var(--bg-dark-clr);
  cursor: pointer;
}

.result:hover,
.result:focus,
.result:active,
.result.active {
  background-color: var(--bg-light-clr);
}

#Buttons {
  margin-block: 1em;
  margin-inline: auto;
  text-align: center
}

#Buttons button {
  width: 15ch;
  margin: 10px;
  padding-block: .5em;
}

#logs,
#status {
  transition-duration: .2s
}

#logs {
  font-family: Consolas, monospace;
  text-align: left;
  width: min(100%, 96ch);
  height: clamp(500px, 576px, 90vh);
  word-break: break-word;
  overflow-y: scroll;
  margin: 24px auto;
  padding: 8px;
  background-color: var(--bg-darkest-clr)
}

@media (max-width:800px) {
  .Form {
    width: 98vw
  }

  .SubForm,
  .FormRow,
  .SubFormRow {
    flex-wrap: wrap
  }

  .Form label {
    flex-basis: 80%;
  }


  input[type="text"],
  input[type="number"],
  select {
    flex-basis: 100%;
    font-size: .9rem;
    padding-block: .5em;
  }

  input[type="checkbox"] {
    min-width: 0;
  }

  .SubFormColumn {
    width: 100%
  }

  .SubFormColumn+.SubFormColumn {
    margin-left: 0
  }

  #results {
    height: auto;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  #timetable {
    height: auto;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .timing {
    gap: .1em;
    flex-wrap: wrap;
  }

  input,
  select {
    min-width: 100px
  }
}