body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2B2C27;
  color: #FFFFFF;
  font-size: 15px;
}

@media (max-width:560px) {

  h1,
  main {
    filter: blur(5px)
  }

  body:before {
    content: 'Your screen width is to small.\aPlease try to rotate your phone.';
    white-space: pre;
    font-size: 14pt;
    background-color: rgba(0, 0, 0, .667);
    position: fixed;
    color: #fff;
    top: 0;
    left: 0;
    width: calc(100vw - 10px);
    height: 100vh;
    text-align: center;
    padding: 5em 5px;
    z-index: 9999
  }
}

h1,
h2,
h3 {
  margin: 0 0 .5em 0;
}

h4 {
  margin: .8em 0 .2em 0;
}

h4#sess {
  margin-top: 0;
}

h1,
h2 {
  margin-top: .5em;
  text-align: center;
}

a {
  color: #bad139;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input,
select,
button {
  background-color: rgba(0, 0, 0, 0.333);
  color: #FFFFFF;
  border: none;
  padding: 5px 8px;
}

select {
  min-width: 157px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}

label {
  line-height: 26px;
}

input[type="number"] {
  padding-right: 0;
  padding-left: 16px;
}

input[type="text"] {
  flex-grow: 1;
}

#addSession {
  margin: 10px 0 5px;
  width: 100%;
}

#removeSession {
  width: 100%;
}

.session:not(:last-of-type) {
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.session:not(:first-of-type) {
  padding-top: 5px;
}

.Form {
  padding: 1em;
  margin: 1em;
  background-color: rgba(0, 0, 0, 0.333);
  border-radius: 5px;
}

.SubForm {
  display: flex;
  justify-content: space-between;
}

.FormTitle {
  margin-bottom: 15px;
}

.SubFormColumn {
  flex-grow: 1;
}

.SubFormColumn+.SubFormColumn {
  margin-left: 1em;
}

.FormRow {
  margin: .25em 0 .25em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FormRow label {
  flex-basis: 11em;
  margin-right: 1em;
}

.SubFormRow {
  margin: .25em 0 .25em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SubFormRow label {
  flex-basis: 11em;
  margin-right: 1em;
}

.FormRow:hover,
.SubFormRow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#Buttons {
  text-align: center;
}

#Buttons button {
  width: 120px;
  margin: 10px;
}

#status,
#logs {
  transition-duration: 200ms;
}

#logs {
  font-family: Consolas, monospace;
  text-align: left;
  width: 1024px;
  max-width: 95%;
  max-height: 30em;
  min-height: 10em;
  overflow-y: scroll;
  margin: 24px auto;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}